{% extends 'base.html.twig' %}

{% block title %}Gestion du compte{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h1 class="card-title font-weight-bold text-primary">Création de votre compte utilisateur</h1>
        </div>
        <div class="card-body">
            {{ form(form_new_user) }}
        </div>
    </div>

</div>
{% endblock %}
