{% extends 'base.html.twig' %}

{% block title %}Gestion du compte{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-header">
            <h1 class="card-title font-weight-bold text-primary">Mon compte utilisateur</h1>
        </div>
        <div class="card-body">
            <form method="POST">
                {{ form(form_modify_user) }}
                <a href="{{ path("password") }}">
                    <button class="btn btn-warning">Modifier mon mot de passe</button>
                </a>
                <a href="{{ path("delete_account") }}">
                    <button class="btn btn-danger">Supprimer mon compte</button>
                </a>
            </form>
        </div>
    </div>

{% endblock %}
