body {
    padding-top: 4rem;
}

.div-container {
    padding: 1rem;
    text-align: center;
}

.conf-title {
  font-size: 4rem;
  font-weight: 100;
  color: rgb(141, 20, 16);
}

.ref-comment {
  color: grey;
  margin-top: 1rem;
  font-style: italic;
}