body{
    line-height: normal !important; 
}
.width-img-panier{
    width: 20%;
    height: 100px;
}
.width-img{
    height: 150px;
}
.width-sm{
    width: 20%;
}
.margin-rigth{
    margin-right:30px;
}
.margin-left{
    margin-left:15px;
}
.margin-tb{
    margin-top:2% !important;
    margin-bottom:2%;
}
.margin-t-g{
    margin-top:5% !important;
    
}
.margin-b-g{
    margin: 3% ;
}

.centrage{
    margin:0 auto; 
}
/*--------------- base-html.twig----------------*/


.width{
    width:50%;
    margin:0 auto;
}
.margin{
    margin-top:2%;
}

/*---------------- homepage---------------*/

.search{
    padding-left:20px;
    padding-right:20px;
}

.pictureSize{
    width: 200px;
}

.position{
    position:relative;
    z-index: 1;
}

.loupe{
    width: 20px !important;
}

.rgba{
    background-color: rgba(0, 0, 0, 0.5) !important;
    padding: 15px 15px 15px 15px;
    position: relative;
    z-index: 1;
    margin-bottom: 2%;
}
.card-title{
    color:rgb(255, 255, 255) !important;
}

.filter{
    vertical-align: middle;
}

#prix{
    display: inline-block;
}

#search{
    display: inline-block;
}



/*------------panier-------------*/

.border{
    border:1px solid rgb(rgb(70, 70, 70));
}


/*------------header-------------*/

.logo
{
    width: 400px;
    margin: auto;
    padding-left:120px;
    padding-top:15px;
}

.separation {
    height: 1px;
    margin: 0.5em 5% 0 5%;
    background-color: rgb(14, 16, 116);
    border: solid medium rgb(14, 16, 116); 
    
}

