

body{
    line-height: normal !important; 
}
.width-img-panier{
    width: 20%;
    height: 100px;
}
.width-img{
    height: 150px;
}


/*--------------- base-html.twig----------------*/

.footer{
    margin-top:5%
}
.width{
    width:50%;
    margin:0 auto;
}
.margin{
    margin-top:2%;
}

/*---------------- homepage---------------*/

.margin-rigth{
    margin-right:30px;
}
.margin-left{
    margin-left:15px;
}
.margin-tb{
    margin-top:2% !important;
    margin-bottom:2%;
}
.liste{
    list-style:none;
}
.card{
    display: block !important;
    border: none !important;
}


/*------------panier-------------*/

.border{
    border:1px solid rgb(rgb(70, 70, 70));
}

.logo
{
    width: 400px;
    margin: auto;
    padding-left:120px;
    padding-top:15px;
}

.separation {
    height: 1px;
    margin: 0.5em 5% 0 5%;
    background-color: rgb(14, 16, 116);
    border: solid medium blue ; 
    
  }

