{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<<<<<<< HEAD
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

<!-- Boucle pour accéder aux propriétés des articles -->
<td>
  {% for articles in article %}
    {{ articles.prix }} <br>
  {% endfor %}
</td>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅ </h1>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Applications/MAMP/htdocs/diginamic_projet_ecommerce/src/Controller/HomepageController.php'|file_link(0) }}">src/Controller/HomepageController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Applications/MAMP/htdocs/diginamic_projet_ecommerce/templates/homepage/index.html.twig'|file_link(0) }}">templates/homepage/index.html.twig</a></code></li>
    </ul>
</div>
=======
<h1 class="text-center margin">Boutique</h1>
<div class="container margin-tb">
  
    <div class="row">
        <div class="liste col-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="rechercher" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">ok</button>
            </form>
            <h3 class="margin">Catégories</h3>
            <ul class="liste">
                <li><a href="#" class="link-primary">Femme</a></li>
                <li><a href="#" class="link-primary">Homme</a></li>
                <li><a href="#" class="link-primary">vêtements</a></li>
            </ul>
        </div>
        <div class="col">
            <div class="row height">
                <div class="col-sm margin-left card">
                    <div class="width-img bg-dark">
                        <img src="..." class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <p class="card-text">exite en plusieurs coloris</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm margin-left card">
                    <div class="width-img bg-dark">
                        <img src="..." class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <p class="card-text">exite en plusieurs coloris</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm margin-left card">
                    <div class="width-img bg-dark">
                        <img src="..." class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <p class="card-text">exite en plusieurs coloris</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row height margin-tb">
                <div class="col-sm margin-left card">
                    <div class="width-img bg-dark">
                        <img src="..." class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <p class="card-text">exite en plusieurs coloris</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm margin-left card">
                    <div class="width-img bg-dark">
                        <img src="..." class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <p class="card-text">exite en plusieurs coloris</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm margin-left card">
                    <div class="width-img bg-dark">
                        <img src="..." class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <p class="card-text">exite en plusieurs coloris</p>
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn btn-primary">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
  
</div>


>>>>>>> master
{% endblock %}
