{% extends 'base.html.twig' %}
{% block title %}
	{{ article.id }}
{% endblock %}


{% block body %}


<h1> {{ article.id }}</h1>
<h1> {{ article.reference }}</h1>
<img src="{{ article.photo1 }}"> </h1>




{% endblock %}
